html, body {
    height: 100%;
}

body {
    display: flex;
    flex-direction: column;
    text-align: center;
    justify-content: center;
    align-items: center;
}

img {
    max-width: 10rem;
    max-height: 10rem;
    border-radius: 8px;
}


dl {
    max-width: 20rem;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2rem;
}

dd {
    opacity: 80%;
}

dt {
    font-size: 2rem;
    letter-spacing: 4px;
}

button {
    width: 6rem;
    height: 3rem;
    border: none;
    border-radius: 8px;
}

button:hover {
    background-color: aqua;
    width: 8rem;
}